<aside class="sidebar">

    <h2 class="sidebar-title">
        町政情報
    </h2>

    <ul class="sidebar-menu">

        <li>
            <a href="03_history.html">
                町の歴史
            </a>
        </li>

        <li>
            <a href="04_newsletter.html">
                広報つきみ
            </a>
        </li>

        <li>
            <a href="05_council.html">
                町議会
            </a>
        </li>

        <li>
            <a href="06_archive.html">
                公文書検索
            </a>
        </li>

    </ul>

    <div class="sidebar-box">

        <h3>
            関連情報
        </h3>

        <ul>

            <li>
                <a href="#">
                    行政計画
                </a>
            </li>

            <li>
                <a href="#">
                    情報公開制度
                </a>
            </li>

            <li>
                <a href="#">
                    各種統計資料
                </a>
            </li>

            <li>
                <a href="#">
                    例規集
                </a>
            </li>

        </ul>

    </div>

</aside>